body {
    background-color: #f2e9e1;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    margin-top: 0%;
    list-style: none;
    font-family: 'Robot Slab', serif;
}

nav ul li {
    font-size: 20px;
}

li {
    padding-left: .5%;
    padding-right: .5%;
}

nav ul li a {
    text-decoration: none;
    color: #31748f;
}

.slide-in {
    background-color: transparent;
    background-repeat: no-repeat;
    color: #31748f;
    border: none;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: large;
}

.plus-sign1 {
    background-color: transparent;
    background-repeat: no-repeat;
    color: #31748f;
    border: none;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.new-note {
    background-color: transparent;
    background-repeat: no-repeat;
    color: #31748f;
    border: none;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: large;
}

.NewNote-container {
    padding-left: 450px;
    padding-top: 50px;
}

.slide-out {
    background-color: transparent;
    background-repeat: no-repeat;
    color: #31748f;
    border: none;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: large;
}

.sidebar-container {
    position: fixed;
    width: 220px;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: #fffaf3;
}

.sidebar-button {
    display: flex;
    justify-content: flex-end;
    padding: 10px 15px 10px 30px;
    font-size: 20px;
    background-color: #fffaf3;
    font-family: 'Roboto Slab', serif;
}

.sidebar-navigation li {
    background-color: transparent;
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 20px;
}

.sidebar-navigation li a {
    padding: 10px 15px 10px 30px;
    text-decoration: none;
    font-weight: bold;
    display: block;
    color: #31748f;
}

label, textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}

textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
}

label {
    display: block;
    font-size: 30px;
}

.textarea-container {
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

.label-container {
    font-weight: bold;
    color: #31748f;
}

.save-button {
    background-color: transparent;
    background-repeat: no-repeat;
    color: #31748f;
    border: none;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 13px;
}

.delete-button {
    background-color: transparent;
    background-repeat: no-repeat;
    color: #b4637a;
    border: none;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 13px;
}

textarea, .SaveDelete-container {
    display: flex;
    justify-content: center;
}

.SaveDelete-container {
    padding-left: 215px;
}

footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

.text-center {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #31748f;
}

@media screen and (max-width:420px) {
    nav ul {
        font-size: 15px;
    }

    header, nav, ul, li {
        display: flex;
        justify-content: center;
    }

    li {
        padding-left: 10%;
        padding-right: 10%;
    }

    .NewNote-container {
        display: flex;
        justify-content: center;
    }

    .new-note {
        padding-right: 550px;
    }

    .sidebar-container {
        position: fixed;
        width: 120px;
    }

    .sidebar-navigation {
        display: flex;
        flex-direction: column;
        padding-right: 150px;
    }

    textarea {
        height: 150px;
        width: 150px;
    }

    .textarea-container {
        padding-left: 65px;
    }

    .SaveDelete-container {
        padding-right: 50px;
    }

    .text-center {
        padding-left: 10px;
    }
}